textarea {
    margin: 10px 0 10px 10px;
    border-radius: 5px;
}

.search-button {
    margin: 10px 0 10px 15px;
    border-radius: 5px;
}

.delete-button {
    margin: 10px 0 10px 15px;
    color: red;
    border-radius: 5px;
}

.search-div {
    background-color: hsl(204, 76%, 53%);
    margin: 0 0 20px 0;
    border: solid;
    border-width: 1px;
    padding-right: 10px;
    border-radius: 5px;
}

.navbar {
    background: hsl(204, 76%, 53%);
    border-bottom: solid;
    border-width: 2px;
}

#main {
    margin-top: 20px;
}